body {
  background: url(images/background.jpg);
  background-repeat: repeat-x;
  background-color: #D5A983;
  font-family: Cabin, Tahoma, Open Sans, "Lucida Grande", Verdana, Helvetica, sans-serif;
}

#mh-content {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 18px;
  text-align: left;
}

p, blockquote, li, input, td, th, select {
  font-size: 1.01em;
  font-size: 100%;
}

p, h1, h2, h3, h4 {
  font-family: Cabin, Tahoma, Open Sans, "Lucida Grande", Verdana, Helvetica, sans-serif;
}

#center p, li {
  
}

p, blockquote, li, h1, h2, h3, h4 {
  
}

blockquote {
  margin-left: 20px;
  margin-right: 0px;
}

#right p, #left p {
  font-size: 1.01em;
  font-size: 100%;
  margin: 0;
}

#left p {
  text-align: right;
}

#head {
  padding: 0;
  text-align: center;
}

#head a {
  border: 0;
}

#container {
  width: 760px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#left {
  float: left;
  width: 150px;
  margin: 0;
  margin-right: 5px;
  padding: 0;
  padding-top: 40px;
}

#center {
  padding: 0;
  margin-left: 180px;
  margin-right: 0px;
  padding-top: 30px;
}

#right {
  float: right;
  width: 150px;
  margin: 0;
  margin-left: 5px;
  padding: 0;
  padding-top: 80px;
}

#foot {
  clear: both;
  padding: 0;
  margin-top: 5px;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
  border-bottom: 1px black solid;
}

#right a, #left a {
  border: 0px;
  color: #C00;
}

h1 {
  border: 0px;
  font-weight: normal;
  font-size: 1.6em;
  font-size: 160%;
}

h2 {
  border: 0px;
  font-weight: normal;
  font-size: 1.4em;
  font-size: 140%;
}

h3 {
  border: 0px;
  font-weight: normal;
  font-size: 1.2em;
  font-size: 120%;
}

h4 {
  border: 0px;
  font-weight: normal;
  font-size: 1.1em;
  font-size: 110%;
}

p.caps {
  letter-spacing: 0.1em;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 1.01em;
  font-size: 100%;
  padding-top: 20px;
}

#left a.externalLink {
  background: url(images/external.png) right center no-repeat;
  padding-right: 14px;
  color: #cc0000;
  border: 0px;
}

#center a.externalLink {
  background: url(images/external.png) right center no-repeat;
  padding-right: 14px;
  border: 0px;
  text-decoration: underline;
}

#left a.sublink {
  color: #cc0000;
}

li {
  padding-left: 2px;
  padding-right: 2px;
}

h3.faq {
  font-size: 100%;
  font-weight: bold;
  margin-bottom: 0pt;
}

h3.faq+p {
  margin-top: 0pt;
}
