Partei 1 1
LOCALE de
REGION 0 0; Heimat
  EINHEIT bez; Weltenforscher [1,160$]
    
  EINHEIT clai; Weltenforscher [1,160$]
    Beanspruchen 2 Holz
    Beanspruchen "Rostiges Kettenhemd"
    Beanspruchen "Amulett des Wahren Sehens"
    Beanspruchen 1
    Beanspruchen 1
    Beanspruchen
    Beanspruchen
  EINHEIT bef; Weltenforscher [1,160$]
    Beförderung
    Beförderung
  EINHEIT pref; Weltenforscher [1,160$]
    Präfix
    Präfix Blau
    Präfix kein
  EINHEIT pflz; Weltenforscher [1,160$]
    Pflanzen Samen
  EINHEIT pfl2; Weltenforscher [1,160$]
    Pflanzen 3 Mallornsamen
    Pflanzen
    Pflanzen 4
    Pflanzen Samen
  EINHEIT sort; Weltenforscher [1,160$]
    Sortieren VOR 1
    Sortieren HINTER 2
    Sortieren VOR
    Sortieren HINTER
    Sortieren
    Sortieren
    Sortieren
    Sortieren VOR blub
  EINHEIT grou; Weltenforscher [1,160$]
    Gruppe
    Gruppe Bla
    Gruppe Bla
  EINHEIT neu; Weltenforscher [1,160$]
    Neustart Goblins foo
    Neustart Menschen
    Neustart Goblins
    Neustart Goblins foo
  EINHEIT res; Weltenforscher [1,160$]
    Reservieren 1 Silber
    Reservieren Je 1 Holz
    Reservieren 1 Holz
    Reservieren 1
    Reservieren Je 1
    Reservieren 1
    Reservieren 4
    Reservieren 1
    Reservieren 4 Silber
  EINHEIT comm; Weltenforscher [1,160$]
    //
    // foo bar go home
    
    // ECHECK
    // ECHECK VERSION
    // ECHECK NOWARN
    // ECHECK LOHN
    // ECHECK ROUT
    Route NO NO
  EINHEIT warn; Weltenforscher [1,160$]
    // ECHECK WARN
    // ECHECK ROUT
    Route NO NO
  EINHEIT def; Weltenforscher [1,160$]
    Default "Arbeiten"
    Default "Unterhalten 500"
    Default "Machen 1 Rostige Kettenhemden"
    Default "Machen 1 Rostige Kettenhemden"
    Default "Machen 1 Rostige Kettenhemden"
    Default "Unterhalten"
    Default "Machen 1 Rostige Kettenhemden"
  EINHEIT schu; Weltenforscher [1,160$]
    
    
    
    
  EINHEIT pir; Weltenforscher [1,160$]
    Piraterie
  EINHEIT pir2; Weltenforscher [1,160$]
    Piraterie 1 2 3 4
  EINHEIT pir3; Weltenforscher [1,160$]
    Piraterie 1
  EINHEIT carr; Weltenforscher [1,160$]
    Transportieren 123
    Transportieren
    Transportieren 1
  EINHEIT pass; Weltenforscher [1,160$]
    Fahren 345
  EINHEIT pas1; Weltenforscher [1,160$]
    Fahren
  EINHEIT pas2; Weltenforscher [1,160$]
    Fahren 1
  EINHEIT dest; Weltenforscher [1,160$]
    Zerstören
    Zerstören 15
    Zerstören Straßen NO
    Zerstören 15 Straßen NO
    Zerstören 15 Straßen
    Zerstören
    Zerstören 15
  EINHEIT show; Weltenforscher [1,160$]
    Zeigen Schild
    Zeigen 2
    Zeigen 
  EINHEIT cast; Weltenforscher [1,160$]
    Zaubere Schattenspiele
    Zaubere Stufe 2 Sonnenschein
    Zaubere Region 1 1 Stufe 2 Sonnenschein
    Zaubere Region 1 1 Sonnenschein
    Zaubere Sonnenschein foo
    Zaubere 
    Zaubere Blitzlicht
    Zaubere Stufe 2 REGION
  EINHEIT opt; Weltenforscher [1,160$]
    Option Auswertung
    Option Computer
    Option Punkte
    Option Punkte Nicht
    Option
    Option
    Option Auswertung
    Option Punkte Nicht
  EINHEIT repo; Weltenforscher [1,160$]
    Report Kampf Warnungen
  EINHEIT foll; Weltenforscher [1,160$]
    Folgen Einheit 123
    Folgen Schiff 123
    Folgen
    Folgen Einheit
    Folgen Schiff 
    Folgen
    Folgen
    Folgen Einheit 123
  EINHEIT rout; Weltenforscher [1,160$]
    Route Osten NO NW Westen SW SO Pause
  EINHEIT rou1; Weltenforscher [1,160$]
    Nach Osten
  EINHEIT rou2; Weltenforscher [1,160$]
    Nach Osten NO NW Westen SW SO
  EINHEIT rou3; Weltenforscher [1,160$]
    Nach NO SO
  EINHEIT rou4; Weltenforscher [1,160$]
    Nach Osten NO NW Westen SW SO
    Route Pause
    Nach
    Route
  EINHEIT verl; Weltenforscher [1,160$]
    Verlassen
    Verlassen
  EINHEIT betr; Weltenforscher [1,160$]
    Betreten Burg 123
    Betreten Gebäude 1
    Betreten Schiff 123
    Betreten Burg
    Betreten Schiff
    Betreten Burg 1
    Betreten Burg 123
  EINHEIT unt; Weltenforscher [1,160$]
    Unterhalten
  EINHEIT unt2; Weltenforscher [1,160$]
    Unterhalten 15
  EINHEIT unt3; Weltenforscher [1,160$]
    Unterhalten
    Unterhalten 15
  EINHEIT tax; Weltenforscher [1,160$]
    Treiben
  EINHEIT tax2; Weltenforscher [1,160$]
    Treiben 15
  EINHEIT tax3; Weltenforscher [1,160$]
    Treiben
    Treiben 15
    Treiben 15
  EINHEIT quit; Weltenforscher [1,160$]
    Stirb pw
    Stirb pw
    Stirb
    Stirb 1
  EINHEIT rec; Weltenforscher [1,160$]
    Rekrutieren 123
    Rekrutieren
    Rekrutieren 1
  EINHEIT pw; Weltenforscher [1,160$]
    Passwort
    Passwort 123
    Passwort 1
    Passwort 1aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
  EINHEIT sabo; Weltenforscher [1,160$]
    Sabotieren Schiff
  EINHEIT sab1; Weltenforscher [1,160$]
    Sabotieren Schiff
    Sabotieren
    Sabotieren
  EINHEIT make; Weltenforscher [1,160$]
    Machen 1 Holz
  EINHEIT mak1; Weltenforscher [1,160$]
    Machen Holz
  EINHEIT mak2; Weltenforscher [1,160$]
    Machen "Ringe der Unsichtbarkeit"
  EINHEIT mak3; Weltenforscher [1,160$]
    Machen Trireme
  EINHEIT mak4; Weltenforscher [1,160$]
    Machen Schiff 123
  EINHEIT mak5; Weltenforscher [1,160$]
    Machen Burg 4
  EINHEIT mak6; Weltenforscher [1,160$]
    Machen Straßen NO
  EINHEIT maka; Weltenforscher [1,160$]
    Machen Burg
  EINHEIT makb; Weltenforscher [1,160$]
    Machen
  EINHEIT mak7; Weltenforscher [1,160$]
    Machen Straßen NO
  EINHEIT mak8; Weltenforscher [1,160$]
    Machen
    Machen 1 Holz
    Machen
    Machen Straßen Pause
  EINHEIT stud; Weltenforscher [1,160$]
    Lernen Hiebwaffen
  EINHEIT stu2; Weltenforscher [1,160$]
    Lernen Taktik
  EINHEIT stu3; Weltenforscher [1,160$]
    Lernen
    Lernen
    Lernen
    Lernen Hiebwaffen
  EINHEIT verg; Weltenforscher [1,160$]
    Vergessen Hiebwaffen
    Vergessen
    Vergessen Hiebwaffen
    Vergessen
  EINHEIT teac; Weltenforscher [1,160$]
    Lehren stud
  EINHEIT tea2; Weltenforscher [1,160$]
    Lehren stud 1 2 3 4 5
  EINHEIT tea3; Weltenforscher [1,160$]
    Lehren
    Lehren 1
  EINHEIT spy; Weltenforscher [1,160$]
    Spionieren 123
  EINHEIT spy2; Weltenforscher [1,160$]
    Spionieren 123
    Spionieren
  EINHEIT cont; Weltenforscher [1,160$]
    Kontaktieren 123
    Kontaktieren
    Kontaktieren 123
  EINHEIT trad; Weltenforscher [1,160$]
    Verkaufen 1 Myrrhe
    Verkaufen 5 Öl
    Kaufen 2 Balsam
  EINHEIT tra2; Weltenforscher [1,160$]
    Kaufen 5 Balsam
    Kaufen 5 Balsam
  EINHEIT tra3; Weltenforscher [1,160$]
    Verkaufen Alles 1 Balsam
    Kaufen
  EINHEIT tra4; Weltenforscher [1,160$]
    Kaufen 1 Balsam
    Verkaufen 1 Balsam
    Verkaufen 1 Öl
    Verkaufen 1 Balsam
    Kaufen 1 Balsam
  EINHEIT mag1; Weltenforscher [1,160$]
    Kampfzauber "Magische Erbsensuppe"
    Kampfzauber Stufe 2 Pesthauch
    Kampfzauber Stufe 2 "Magisches Lametta" NICHT
    Kampfzauber Stufe 2 "Magisches Lametta"
    Kampfzauber 
    Kampfzauber Foo
    Kampfzauber Blitzlicht
    Kampfzauber Blitzlicht Blitzlicht
    Kampfzauber Blitzlicht NICHT Blitzlicht
    Kampfzauber NICHT
  EINHEIT comb; Weltenforscher [1,160$]
    Kämpfen Vorne
    Kämpfen Hinten
    Kämpfen Vorne
    Kämpfen aggressiv
    Kämpfen defensiv
    Kämpfen Fliehe
    Kämpfen Helfen
    Kämpfen Helfen Nicht
    Kämpfen Helfen
    Kämpfen Bla
    Kämpfen Hinten
  EINHEIT help; Weltenforscher [1,160$]
    Helfen 1 Alles
    Helfen 1 Kämpfe
    Helfen 1 Silber
    Helfen 1 Gib
    Helfen 1 Parteitarnung
    Helfen 1 Bewache
    Helfen 1 Alles Nicht
    Helfen 1
    Helfen 1 Alles
    Helfen 1 Alles
    Helfen 1
    Helfen
  EINHEIT give; Weltenforscher [1,160$]
    Gib 1 Sonnenschein
    Gib 1 1 Silber
    Gib 1 Alles "Ringe der Unsichtbarkeit"
    Gib 1 Alles
    Gib TEMP a Je 1 "Rostiger Schild"
    Gib 2 Je 1 Silber
    Gib 3 Kommando
    Gib 4 Kräuter
    Gib 5 Einheit
    Gib 6 5 Personen
    Gib 6 Alles Personen
    Gib 0 Alles
    Gib 0 Kommando
    Gib 2 Je 1 Silber
    Gib 2 Je 1
    Gib 2 Je 1
    Gib 3 Kommando
    Gib 3 1
    Gib 1 1 Silber
  EINHEIT stel; Weltenforscher [1,160$]
    Tarnen
    Tarnen 1
    Tarnen Partei
    Tarnen Partei Nicht
    Tarnen Partei Nummer 0
    Tarnen Partei Nummer 2
    Tarnen Halblinge
    Tarnen 1
    Tarnen
  EINHEIT for; Weltenforscher [1,160$]
    Forschen Kräuter
  EINHEIT for2; Weltenforscher [1,160$]
    Forschen
  EINHEIT for3; Weltenforscher [1,160$]
    Forschen
    Forschen Kräuter
  EINHEIT tem; Weltenforscher [1,160$]
    Machen TEMP tem1
      Arbeiten
    Ende
    Ende
  EINHEIT tem2; Weltenforscher [1,160$]
    Machen TEMP tem2
      Arbeiten
      Reservieren
    Ende
  EINHEIT guar; Weltenforscher [1,160$]
    Bewachen
    Bewachen Nicht
    Bewachen
  EINHEIT desc; Weltenforscher [1,160$]
    Beschreiben Einheit abc
    Beschreiben Region abc
    Beschreiben Burg abc
    Beschreiben Schiff abc
    Beschreiben Privat abc
    Beschreiben Einheit
    Beschreiben Einheit abc
  EINHEIT name; Weltenforscher [1,160$]
    Benennen Einheit "abc def"
    Benennen Region abc
    Benennen Burg abc
    Benennen Schiff abc
    Benennen Gebäude abc
    Benennen
    Benennen fremdes Einheit abc
    Benennen fremdes Burg abc
    Benennen fremdes Schiff abc
    Benennen Einheit
    Benennen Einheit
    Benennen Einheit abc
    Benennenfremdes Region abc
    Benennen fremdes Einheit def
    Benennen fremdes Einheit
    Benennen fremdes
    Benennen fremdes
    Benennen
  EINHEIT thie; Weltenforscher [1,160$]
    Beklauen 1
  EINHEIT thi2; Weltenforscher [1,160$]
    Beklauen 1
    Beklauen
    Beklauen 1
    Beklauen 1
  EINHEIT bree; Weltenforscher [1,160$]
    Züchten Pferde
  EINHEIT bre2; Weltenforscher [1,160$]
    Züchten Kräuter
  EINHEIT bre3; Weltenforscher [1,160$]
    Züchten 5 Pferde
  EINHEIT bre4; Weltenforscher [1,160$]
    Züchten 5 Kräuter
  EINHEIT bre5; Weltenforscher [1,160$]
    Züchten
    Züchten 5 Pferde
    Züchten 5
  EINHEIT sieg; Weltenforscher [1,160$]
    Belagere 123
  EINHEIT sie2; Weltenforscher [1,160$]
    Belagere
    Belagere 123
    Belagere burg
    Belagere 1
  EINHEIT att; Weltenforscher [1,160$]
    Attackieren 123
    Attackieren 456
    Attackieren
    Attackieren 123
    Attackieren 1
    Attackieren TEMP 123
  EINHEIT work; Weltenforscher [1,160$]
    Arbeiten
  EINHEIT wor1; Weltenforscher [1,160$]
    Arbeiten
  EINHEIT mess; Weltenforscher [1,160$]
    Botschaft Region "Hallo, Welt"
    Botschaft Schiff 123 Hallo
    Botschaft Gebäude 456 Hallo
    Botschaft Burg 456 Hallo
    Botschaft Partei 123 Hallo
    Botschaft Einheit 123 Hallo
    Botschaft Region 1
    Botschaft Schiff 1
    Botschaft Gebäude 1
    Botschaft Burg 1
    Botschaft Partei 1
    Botschaft Einheit 1
  EINHEIT use; Weltenforscher [1,160$]
    Benutzen Bauernblut
    Benutzen 1 Gehirnschmalz
    Benutzen
    Benutzen 
    Benutzen 1
  EINHEIT orig; Weltenforscher [1,160$]
    Ursprung 1 0
    Ursprung
    Ursprung 1 0
    Ursprung 1 2
  EINHEIT emil; Weltenforscher [1,160$]
    Email a@b.com; Zustellung an  a@b.com
    Email
    Email foo
    Email foo
  EINHEIT bann; Weltenforscher [1,160$]
    Banner abc
    Banner
    Banner abc
  EINHEIT mein; Weltenforscher [1,160$]
    
    
    
  EINHEIT numm; Weltenforscher [1,160$]
    Nummer Einheit
    Nummer Einheit abc
    Nummer Partei abc
    Nummer Schiff abc
    Nummer Burg bac
    Nummer Gebäude 123
    Nummer Einheit TEMP 0
    Nummer Einheit TEMP 1
    Nummer Partei 0
    Nummer Burg 123
    Nummer
  EINHEIT alli; Weltenforscher [1,160$]
    
  EINHEIT uml; Weltenforscher [1,160$]
    Kämpfen Nicht
    Kaufen 1 Öl
    Kämpfen Nicht
    Verkaufen 1 Öl
    Zerstören Straßen NO
    Zerstören Straßen SW
  EINHEIT line; Weltenforscher [1,160$]
    Benennen Einheit "Großer Krieger"
    Benennen Einheit Ööóōß
  EINHEIT dopp; Weltenforscher [1,160$]
    Lernen Hiebwaffen
  EINHEIT dopp; Weltenforscher [1,160$]
    Lernen Hiebwaffen
Nächster
