name: Notify meta of published release
# react on published release: notify magellan-meta

on:
  release:
    types: [published]

jobs:
  trigger:
    name: notify meta
    runs-on: ubuntu-latest

    steps:
    - name: get version
      id: get-version
      run: |
        TAG="$(echo "${{ github.ref }}" | awk -F/ '{print $NF}')"
        wget https://github.com/${{ github.repository }}/releases/download/$TAG/VERSION
        VERSION=$(grep "^SEMANTIC_VERSION=" VERSION | sed -e "s/^[[:space:]]*//;s/[[:space:]]*$//" | cut -f2- -d= )
        echo "::set-output name=VERSION::$VERSION"
        echo "::set-output name=TAG::$TAG"

    - name: prepare meta
      id: prepare-meta
      run: |
        set -x
        if [[ "${{ steps.get-version.outputs.TAG }}" =~ .*-([0-9]*[.])?([a-zA-Z][a-zA-Z]*).* ]]; then
          TYPE=$(echo ${{ steps.get-version.outputs.TAG }} | sed -e "s/.*-\([0-9]*[.]\)\?\([a-zA-Z][a-zA-Z]*\).*/\2/")
        else
          TYPE=stable
        fi
        if [[ ! "$TYPE" =~ ^[a-zA-Z]+$ ]]; then
          echo "invalid type $TYPE"
          exit 1
        fi
        echo "::set-output name=TYPE::$TYPE"

    - name: trigger meta action
      run: |
        curl -X POST https://api.github.com/repos/${{ github.repository_owner }}/magellan2.github.io/dispatches \
          -H 'Accept: application/vnd.github.everst-preview+json' \
          -u magellan-meta-machineuser:${{ secrets.META_REPO_ACCESS }} \
          --data '{
            "event_type": "actions-release-trigger",
            "client_payload": {
              "ref" : "${{ github.ref }}",
              "sha": "${{ github.sha }}",
              "caller_repository" : "${{ github.repository }}",
              "meta_repository" : "${{ github.repository_owner }}/magellan2.github.io",
              "tag" : "${{ steps.get-version.outputs.TAG }}",
              "version" : "${{ steps.get-version.outputs.VERSION }}",
              "type": "${{ steps.prepare-meta.outputs.TYPE }}" }}'

